<tr>
  <th></th>
  <% @report.users.each do |user| %>
    <th>
      <div class="name"><%= user.firstname %></div>
      <div class="type"><%= @report.user_types[user].user_type.capitalize %></div>
    </th>
  <% end %>
  <th>
    Total<%=
      hours_title = "#{grid_type == :revenue ? ' Billed' : ''} Hours"
      grid_type == :summary ? '' : hours_title
    %>
  </th>
  <th>
    <%= grid_type == :revenue ? 'Total Unbilled Hours' : '' %>
  </th>
  <% if grid_type != :summary %>
    <th>Total <%= grid_type.to_s.capitalize %></th>
  <% end %>
  <th></th>
</tr>
