<table>

  <%= render('grid_header', grid_type: grid_type) %>

  <% @report.projects.each do |project| %>
    <%# Don't show internal projects in revenue. %>
    <% next if grid_type == :revenue && project.in?(@report.internal_projects) %>

    <tr class="project-row">
      <td>
        <div class="name"><%= project.name %></div>
        <% if grid_type == :revenue %>
          <div class="rate"><%= number_to_currency(@report.project_rates[project].val) %></div>
        <% end %>
      </td>

      <td>
        <div class="name"><%= project.name %></div>
      </td>

      <% @report.users.each do |user| %>
        <td>
          <% if chunk = @report.chunks[grid_type][[user, project]] %>
            <div class="hours"><%= number_with_precision(chunk.rounded_hours, precision: 2) %></div>
            <div class="rate">
              <%= number_to_currency(chunk.rate.val) %><%= chunk.multiple_rates? ? '*' : '' %>
            </div>
          <% end %>
        </td>
      <% end %>

      <td><%= number_with_precision(@report.totals[grid_type][:by_project][project][:hours], precision: 2) %></td>
      <td><%= number_to_currency(@report.totals[grid_type][:by_project][project][:dollars]) %></td>
      <td>
        <% if grid_type == :revenue %>
          <% path = "/green-machine/reports/#{params[:start]}/#{params[:finish]}/project-detail/#{project.id}" %>
          <%= link_to("[HTML]", path) %>
          <%= link_to("[CSV]", "#{path}.csv") %>
          <%= link_to("[Invoice]", "#{path}/create-invoice") unless project.gm_qb_customer_id.blank? %>
        <% end %>
      </td>
    </tr>
  <% end %>

  <tr>
    <td>Total Hours</td>
    <td></td>
    <% @report.users.each do |user| %>
      <td><%= number_with_precision(@report.totals[grid_type][:by_user][user][:hours], precision: 2) %></td>
    <% end %>
    <td></td>
    <td></td>
    <td></td>
  </tr>

  <tr>
    <td>Total <%= grid_type.to_s.capitalize %></td>
    <td></td>
    <% @report.users.each do |user| %>
      <td><%= number_to_currency(@report.totals[grid_type][:by_user][user][:dollars]) %></td>
    <% end %>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>

<% if grid_type == :revenue %>
  * - Indicates multiple rates combined into this figure. Effective rate and actual hours worked are shown.
<% end %>
