<h1>GreenMachine Creating Invoice for <%= @project.name %></h1>

<% if @no_token || @auth_fail %>

  <% if @no_token %>
    You don't have an API token.
  <% else %>
    Quickbooks authorization failed.
  <% end %>
  Click the button below and then
  <%= link_to('try again', gm_create_invoice_path(params.permit(:start, :finish, :project_id))) %>.

  <br/><br/>

  <!-- somewhere in your document include the Javascript -->
  <script type="text/javascript" src="https://appcenter.intuit.com/Content/IA/intuit.ipp.anywhere-1.3.2.js"></script>

  <!-- configure the Intuit object: 'grantUrl' is a URL in your application which kicks off the flow, see below -->
  <script>
  intuit.ipp.anywhere.setup({menuProxy: '/path/to/blue-dot', grantUrl: '<%= gm_quickbooks_flow_start_url %>'});
  </script>

  <!-- this will display a button that the user clicks to start the flow -->
  <ipp:connectToIntuit></ipp:connectToIntuit>
<% else %>
  Success! Created invoice number <%= @invoice.doc_number %> (txnId <%= @invoice.id %>).
<% end %>
