<h2>GreenMachine Report</h2>

<% if @date_error %>
  <%= @error %>
  <%= link_to('Return to Default', '/green-machine') %>
<% elsif @error %>
  <%= @error %>
<% else %>
  From: <%= params[:start] %>
  To: <%= params[:finish] %>
<% end %>
