<h1>GreenMachine Report</h1>

<% if @date_error %>
  <%= @error %>
  <%= link_to('Return to Default', '/green-machine') %>
<% elsif @error %>
  <%= @error %>
<% else %>
  Period: <%= params[:start] %> to <%= params[:finish] %>

  <% unless @report.warnings.empty? %>
    <div class="warnings">
      Warnings
      <ul>
        <% @report.warnings.each do |w| %>
          <li><%= w %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <h2>Revenue</h2>
  <%= render('grid', grid_type: :revenue) %>

  <h2>Wages</h2>
  <%= render('grid', grid_type: :wage) %>

  <h2>Summary</h2>
  <%= render('summary_grid') %>

<% end %>
