<% html_title "GreenMachine" %>

<form id="report-jump-form">
  <%= date_select('j', 'd', order: [:month, :year], start_year: 2014, default: params[:start]) %>
  <%= submit_tag('Go') %>
</form>

<a href="<%= gm_last_month_report_path %>" class="last-month-link">Last Month</a>

<h1>GreenMachine Report</h1>

<p><%= link_to 'Config', gm_config_path %></p>

<% if @date_error %>
  <%= @error %>
  <%= link_to('Return to Default', '/green-machine') %>
<% elsif @error %>
  <%= @error %>
<% else %>
  <p>Period: <%= params[:start] %> to <%= params[:finish] %></p>

  <% unless @report.warnings.empty? %>
    <div class="warnings">
      <strong>Warnings</strong>
      <ul>
        <% @report.warnings.each do |w| %>
          <li><%= w %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <a href="#revenue"><h2 id="revenue">Revenue</h2></a>
  <%= render('grid', grid_type: :revenue) %>

  <a href="#wages"><h2 id="wages">Wages</h2></a>
  <%= render('grid', grid_type: :wage) %>

  <a href="#summary"><h2 id="summary">Summary</h2></a>
  <%= render('summary_grid') %>

<% end %>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'main', plugin: 'greenmachine' %>
<% end %>

<script type="text/javascript">
  var month_days = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31];

  $(document).ready(function(){
    $('#report-jump-form').on('submit', function(e){
      e.preventDefault();
      var year = parseInt($('#j_d_1i').val());
      var month = parseInt($('#j_d_2i').val());

      if (year == 2014 && month < 10)
        alert("No data for that month");
      else {
        var end_day = month_days[month - 1];

        if (month == 2 && year % 4 == 0 && (year % 100 != 0 || year % 400 == 0))
          end_day = 29;

        var start = "" + year + (month < 10 ? '0' : '') + month + '01';
        var end = "" + year + (month < 10 ? '0' : '') + month + end_day;
        window.location.href = "/green-machine/reports/" + start + "/" + end;
      }
    });
  });
</script>
